.contact{
  background-color: $c-blue-light;
  .contact_container {
    @include device( desktops){
      display: flex;
      flex-direction: row;
    }
    @include device( large-dekstop ){
      display: flex;
      flex-direction: row;
    }
  }

}
// container img
.container_img {
  @include device( phone ){
    display: none;
  }
  @include device( tablet ){
    display: none;
  }
  @include device( desktops ){
    flex: 1;

  }
  @include device(large-dekstop){
    flex: 1;
  }
}

// container_form
.container_form{
  @include device( desktops) {
    flex: 1;
  }
  @include device( large-dekstop){
    flex: 1;
  }
}

.contact_header {}

.contact_form{
  
  
}

.contact_form_name{}

.contact_form_email{}

.contact_form_subject{}

.contact_form_message {}

.contact_form_btn {
  background-color: $c-blue;
 
}