.education {
  background-color: $c-blue-light;
  .education_title {
    text-align: center;
  }
  .education_container {
		display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include device( phone ){
      flex-direction: column;
    }
  }
 }

 .education_card{
  padding-bottom: 1rem;

 }

 .education_card_header {
  background-color: $c-white;
	display: flex;
	justify-content: center;
	align-items: center;
	
  .education_card_header_img {
		width: 20%;
	}
 }

 .education_card_footer {
	background-color: $c-blue-light;
  .education_card_footer_title {

  }
  .education_card_footer_text {}
 }