.experience {
  background-color: $c-gray-medium;
	padding-bottom: 1px;

  .experience_title{
    text-align: center;
  }

  .experience_container{
   	margin-bottom: 1rem;
   	display: flex;
	 	flex-direction: column;
  	justify-content: space-between;
   
   
  }
}

.experience_card{
	display: flex;
	padding-bottom: 1rem;
  position: relative;
  @include device( phone ){
    flex-direction: column;
    
  }
  
}

.experience_card_header{
	width: 60%;
  @include device( phone){
    width: 100%;
  }
}

.experience_card_content{
  display: block;
	padding-left: 1rem;

}

.education_card_btns{
  display: flex;
  flex-direction: row;
}

.experience_btn_repo {
  background-color: $c-gray-medium;
  border: 1px solid $c-blue;
  color: $c-blue;
	margin-top: 1rem;
  margin-right: 0.5rem;
  transition: border 1s;
  &:hover {
   border: 1px solid #ffa500;
  }
}


.experience_btn_demo{
  color: $c-white;
  background-color: $c-blue;
	margin-top: 1rem;
  transition: border 1s;
  &:hover {
   border: 1px solid $c-black;
  }
}

