.hero {
  .hero_container {}
}

.hero_header {
  .hero_header_img {
    width: 368px;
    height: 368px;
    border-radius: 368px;
    @include device( phone ){
      width: 96px;
      height: 98px;
      border-radius: 96px;
    }
    @include device( tablet ){
      width: 146px;
      height: 146px;
      border-radius: 96px;
    }
  }
}

.hero_content {
  .hero_content_title {
		font-weight: map-get($f-weight, "bold");
		
	}
  .hero_content_text {
		font-weight: map-get($f-weight , "normal" );
	}
}

.hero_footer {
  .hero_footer_link {}
}