.hero {
  background-color: $c-gray-medium;
  .hero_container {
   display: grid;
   grid-template-areas:
                 "left   left    right"
                  "left    left    right"
                  "bottom  bottom  right";
  @include device( phone ){
    display: flex;
    flex-direction: column;
    }
  }
  
}

.hero_header {
  padding-bottom: 0.5rem;
  grid-area: right;
  .hero_header_img {
    width: 368px;
    height: 368px;
    border-radius: 368px;
    @include device( phone ){
      width: 96px;
      height: 98px;
      border-radius: 96px;
    }
    @include device( tablet ){
      width: 146px;
      height: 146px;
      border-radius: 96px;
    }
  }
}

.hero_content {
  grid-area: left;
  padding-bottom: 1rem;
  margin-top: 3rem;
  @include device( phone ){
    margin: 0;
  }
  .hero_content_title {
		font-weight: map-get($f-weight, "bold");
		
	}
  .hero_content_text {
		font-weight: map-get($f-weight , "normal" );
    margin-top: 1rem;
	}
}

.hero_footer {
  display: flex;
  flex-direction: row;
  grid-area: bottom;
  justify-content: space-between;
  margin-bottom: 3rem;
  .hero_footer_link {
    font-weight: map-get($f-weight, "medium" );
    color: $c-gray-dark;
  }
}