.hobbie{
  background-color: $c-gray-medium;
  padding-bottom: 1rem;
  padding-top: 1rem;
  .hobbie_container{
    display: flex;
    flex-direction: column;
  }
  .hobbie_title {}
}

.hobbie_cards{
  display: flex;
  flex-direction: row;
  
  flex-wrap: wrap;
  padding-bottom: 1rem;
  padding-top: 1rem;
  @include device( phone ){
    flex-direction: column;
    justify-content: center;
  }
}

.hobbie_card{
  background-color: $c-white;
    flex: 1 ;
    margin-left: 1rem;
    margin-bottom: .5rem;
    text-align: center;
   
  .hobbie_card_header {
    padding-top: 0.5rem;
  }
  .hobbie_card_header_img{}
}

.hobbie_card_footer{
  .hobbie_card_footer_title {}
}