@import "reset";
@import "variables";
@import "responsive";
@import "header";
@import "hero";

body {
  background-color: $c-white;
	font-family: $f-roleway;
  min-width: 360px;
}

h1,
h2,
h3 {
	font-family: $f-roboto;
}

h1 {
  font-size: map-get($f-size, "big");
  @include device( phone ){
  font-size: map-get($f-size, "medium");
  }
}

h2 {
  font-size: map-get($f-size, "medium");
  @include device( phone ){
  font-size: map-get($f-size, "small");
  }
}

h3 {
  font-size: map-get($f-size , "small" );
}

a {
  color: $c-gray-medium;
  text-decoration: none;
}

img {
  height: auto;
  width: 100%;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @include device( phone ){
    width: 95%;
    
  }

}