@import "reset";
@import "variables";
@import "responsive";
@import "header";
@import "hero";

body {
  background-color: $c-white;
	font-family: $f-roleway;
  min-width: 360px;
}

h1,
h2,
h3 {
	font-family: $f-roboto;
}

h1 {}
h2 {}
h3 {}

a {
  color: $c-gray-medium;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  @include device( phone ){
    width: 100%;
    margin: 0;
  }

}